/*cascading stylesheet, easy to make just define by html tag*/

body,html{
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	color: #f2f2f2;
	height: 100%;
}

h1{
	font-family: "Courier New", Courier, monospace;
	margin-bottom: 15px;
	text-align: center;
}

h3{
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	text-align: center;
}

footer{
	position: relative;
	z-index: 5;
	background: black;
	height: 50px;
	padding-top: 10px;
}

/* Header Start */

.header{
	position: fixed;
	background: black;
	height: 99px;
	width: 100%;
	z-index: 2;
	
}

.milioso{
	position: relative;
	background-color: black;
}

.pageTitle{
	position: relative;
	bottom: 15px;
}

/* Header End */

/* Navbar Start */

#imgPage{
	position: relative;
	top: -62px;
}

.navbar {
    background-color: black;
	font-weight: bold;
	position: relative;
	top: -20px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
	background-color: black;
}

.navbar a:hover {
    background-color: #CCFFB3;
    color: black;
}

.dropdown {
    float: left;
    /*overflow: hidden;*/
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: black;
    font-family: inherit;
	font-weight: bold;
    margin: 0;
}

.dropdown:hover .dropbtn{
	background-color: #CCFFB3;
	color: black;
}

.dropbtn:hover{
	cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	background-color: white;
}

.dropdown-content a:hover {
    background-color: #CCFFB3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Navbar End */

/* Body Formatting */

#profile{
	margin: 50px;
	margin-top: 20px;
	height: 500px;
	float: left;
	border-radius: 10px;
	z-index: 1;
	transition: transform 0.5s;
}

#profile:hover{
	z-index: 3;
	transform: scale(1.1);
}

#contact{
	position: relative;
	left: 150px;
	top: 150px;
	height: 400px;
	float: left;
	border-radius: 10px;
	z-index: 1;
	transition: transform 0.5s;
}

.contCont{
	position: relative;
	top: 250px;
	margin-left: 600px;
	margin-right: 200px;
	font-size: 25px;
	text-align: center;
	background-color: black;
	border-radius: 20px;
	padding: 20px;
}

.containerA{
	display: flex;
 
	/* Formatting 
	border: 20px double #BAD8FF;
	border-radius: 50px;
	background: gray; */
}

.containerA p{
	background-color: black;
	margin: auto;
	margin-right: 20px;
	padding: 20px;
	border-radius: 10px;
}

.secTitle{
	text-align: center;
	font-size: 50px;
	max-height: 50px;
}

.secTitle p{
	position: relative;
	top: -25px;
}

.parallaxa{
  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxb{
  /* Set a specific height */
  min-height: 85%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxc{
  /* Set a specific height */
  min-height: 65%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.instagram-media{
	/*display: flex;
	flex: 1;
	position: relative;
	left: 28%;
	float: center;*/
}

.youtube{
	float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-weight: bold;
}

.youtube:hover{
	background-color: #CCFFB3;
	color: black;
}

/* Body Formatting End */

/* Gallery Start */

.autogallery-container {
    max-width: auto;
	max-height: 75%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
	z-index: 1;
	transition: transform 0.5s;
}

.autogallery-container:hover{
	cursor: pointer;
}

.autogallery {
	display: flex;
	position: relative;
	top: 60px;
	width: 300%;
	transition: transform 1s ease;
}

.autogallery2 {
	display: flex;
	position: relative;
	top: 60px;
	width: 300%;
	transition: transform 1s ease;
}

.autogallery-item {
	position: relative;
	flex: 1;
}

.autogallery-item img{
	position: relative;
	top: -60px;
	transform: scale(0.75);
	z-index: 2;
	transition: translate 0.5s;
	transition: transform 0.5s;
	overflow: visible;
}

.gallery-container {
    max-width: 800px;
	max-height: 550px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
	background: none;
	/*border: 20px double #BAD8FF;
	border-radius: 15px;*/
	z-index: 1;
	transition: transform 0.5s;
}

.gallery-container:hover{
	z-index: 5;
	transform: scale(1.01);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*.darken{
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	transition: background-color 0.3s ease;
	background-color: rgba(0, 0, 0, 0);
}

.gallery-container:hover .darken{
	background-color: rgba(0, 0, 0, 0.5); /* Dark overlay
	box-shadow: 0 0 5px 10px black;
	overflow: visible;
	
} */

.gallery {
	display: flex;
	width: 300%;
	transition: transform 0.5s ease;
}

.gallery2 {
	display: flex;
	width: 300%;
	transition: transform 0.5s ease;
}

.gallery3 {
	display: flex;
	width: 300%;
	transition: transform 0.5s ease;
}

.gallery-item {
	position: relative;
	flex: 1;
}

.gallery-item img{
	position: relative;
	top: -50px;
	transform: scale(0.75);
	z-index: 2;
	transition: translate 0.5s;
	transition: transform 0.5s;
	overflow: visible;
}

.gallery-item img:hover{
	z-index: 5;
	transform: scale(1.1);
	transform: translate(0px, 15px) !important;
}

/* Image Positions */

.imgCentered{
	margin: auto;
	display: block;
	position: relative;
}

.gifCentered{
	margin: auto;
	display: block;
	position: relative;
	text-align: center;
}

.vidCentered{
	margin: auto;
	display: block;
	position: relative;
}

/* File Type Formatting */

.autogallery img {
	/*width: calc(30% + 100px); /* Adjust the width to include spacing */
	height: 500px;
	object-fit: cover;
}

.autogallery2 img {
	/*width: calc(30% + 100px); /* Adjust the width to include spacing */
	height: 500px;
	object-fit: cover;
}

.gallery img {
	/*width: calc(30% + 100px); /* Adjust the width to include spacing */
	height: 500px;
	object-fit: cover;
}

.gallery iframe{
	
}

.gallery video{
	
}


.gallery2 img {
	/*width: calc(30% + 100px); /* Adjust the width to include spacing */
	height: 500px;
	object-fit: cover;
}

.gallery2 iframe{
	
}

.gallery2 video{
	
}


.gallery3 img {
	/*width: calc(30% + 100px); /* Adjust the width to include spacing */
	height: 500px;
	object-fit: cover;
}

.gallery3 iframe{
	
}

.gallery3 video{
	
}

/* Text Formatting */

#descImage{
	position: relative;
}

#descSolo{
	position: relative;
}

.titleBox{
	background: black;
	border: 5px;
	border-radius: 10px;
	width: max-content;
	margin: auto;
	display: block;
	position: relative;
}

.autotitleBox{
	font-size: 1.5em;
	background: black;
	border: 5px;
	border-radius: 10px;
	width: max-content;
	margin: auto;
	display: block;
	position: relative;
}

.titleCentered{
	text-align: center;
	padding: 5px;
}

/* Gallery Button Formatting */

#prevBtna{
	float: left;
}

#nextBtna{
	margin: 0;
	float: right;
}

#prevBtn{
	float: left;
}

#nextBtn{
	margin: 0;
	float: right;
}

#prevBtn2{
	float: left;
}

#nextBtn2{
	margin: 0;
	float: right;
}

#prevBtn3{
	float: left;
}

#nextBtn3{
	margin: 0;
	float: right;
}

.NPB{
	padding: 30px;
	position: relative;
	top: -100px;
}

.NPB button {
    padding: 10px;
    margin: 0;
	margin-bottom: 20px;
	border: none;
	background-color: black;
	color: #f2f2f2;
	font-family: "Courier New", Courier, monospace;
}

.NPB button:hover{
	background-color: #CCFFB3;
	color: black;
}

.NPBvid{
	padding: 30px;
	position: relative;
	top: -25px;
}

.NPBvid button {
    padding: 10px;
    margin: 0;
	margin-bottom: 20px;
	border: none;
	background-color: black;
	color: #f2f2f2;
	font-family: "Courier New", Courier, monospace;
}

.NPBvid button:hover{
	background-color: #CCFFB3;
	color: black;
}

/* Gallery End */